* {
    margin:0;
    padding:0;
}

#time {
    margin:0 auto;
    width:200px;
    height:200px;
    background-color:#00FFFF;
    text-align: center;
    border-radius:50%;
    padding-top:35px;
    color:#D2691E;
}

#time h1, #word h1 {
    /* padding-top:35px; */
    font-size:100px;
    text-align: center;
    /* color:gold; */
}

#word h1 {
    background-color:#A9A9A9;
    color:gold;
}

#word {
    margin:0 auto;
    width:600px;
    height:200px;
    background-color:#A9A9A9;
    border:2px solid yellow;
    padding-top:35px;
}

#head>h1 {
    width:100%;
    text-align:center;
    margin-top:0;
    /* margin-bottom:20px; */
    padding:10px;
    text-transform:uppercase;
    background-color:black;
    color:white;
}
